.tab {
  height: 48px;
  width: 234px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 10%;
    height: 1px;
    border-radius: 10px;
    transition: transform .3s ease-in-out;
    background-color: white;
    transform: scaleX(0);
  }
  &:hover, &_active {
    &::after {
      transform: scaleX(1);
    }
  }
}

.label {
  font-family: var(--font-montserrat);
  font-size: 16px;
  color: var(--color-text);
  font-weight: 500;
}

.icon {
  width: 24px;
  height: 24px;
}